.page-template-page-contributors {

	.grid {
	    @media screen and (max-width: 767px) {
	        margin: auto;
	        max-width: 300px;
	    }
	}

}

#contributors-slider {
    position: relative;
    margin-bottom: 25px;

	.flex-caption {
	    background: rgba(255,255,255,0.6);
		opacity: 1;
    	left: 50px;
    	top: 15%;
    	right: auto;
    	bottom: auto;
    	max-width: 450px;
    	padding: 15px 20px;
    	text-align: left;

    	.post-type {
		    color: #57025B;
	        padding: 7px 0 2px;
		    text-transform: uppercase;
		    font-size: 14px;
    	}

    	.title {
    		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		    font-size: 24px;
		    color: #333333;
	        padding: 0 0 5px;
		    margin-top: 4px;
		    margin-bottom: 0;
	        line-height: 28px;

	        &.title-small {
	        	font-size: 20px;
	        }
    	}

    	.subtitle {
    		font-size: 15px;
	        color: #154758;
		    margin-top: 0;
		    line-height: 20px;
		    font-weight: bold;
    	}

    	.date {
    		margin-top: 10px;
    		color: #154758;
	        padding: 0;
    		font-size: 16px;

    		+ h2 {
    			margin-top: 0;
    		}
    	}

    	p {
    		color: #333;
		    margin: 5px 0 15px;
		    font-size: 14px;
		    line-height: 20px;
    	}

    	> .read-more-link {
    		font-weight: 700;
		    font-size: 13px;
		    color: #12404F;
	        text-transform: uppercase;
    	}

    	+ .read-more-link {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	        color: transparent;
    	}
	}

	.slides > li {
		position: relative;
	    height: 350px;
	    min-height: 350px;
		overflow: hidden;
	    background: #181818;

		&:hover .flex-caption {
			background: rgba(255,255,255,0.7);
			transition: all 0.5s;

			> .read-more-link {
			    color: #57025b;
	    	}
		}
	}

	img {
    	height: auto;
    	margin: auto;
    	display: block;
    	position: absolute;
	    left: 50%;
	    right: 0;
	    top: 50%;
	    transform: translate(-50%, -50%);

	    @media screen and (min-width: 1200px) {
	        width: 100%;
	    }
	}

	.flex-control-nav {
		bottom: 0;
	}

	.flex-direction-nav {
	    display: none;
	}
}

.single-contributor {

	.row {
		margin: 0;
	}
	
	.main-cover {
		height: 400px;
	    overflow: hidden;
	    position: relative;

	    + .main-cover {
	    	background: rgba(0,0,0,0.65);
	    }

	    img {
	    	display: block;
    		min-height: 400px;
    		position: absolute;
		    left: 50%;
		    right: 0;
		    top: 30%;
		    transform: translate(-50%, -30%);
	    }

	}

	.main-cover--blurry-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		filter: blur(8px);
		-webkit-filter: blur(8px);
	}

	.intro {

		min-height: 120px;
		margin-bottom: 15px;
		
		.container {
			position: relative;
		}

		h2 {
			font-family: 'Source Serif Pro', serif;
			font-weight: bold;
			color: #333;
			margin-bottom: 0;
		}

		h3 {
			font-size: 14px;
		    margin: 6px 0;
		}

		.job {
			text-transform: uppercase;
			color: #57025B;
			line-height: 20px;
		}

		.website {
			margin: 10px 0;
			font-size: 12px;
    		text-transform: uppercase;
		}

		.photo {
			position: absolute;
			top: -60px;
			left: 0;
			margin: 0 15px;

			img {
				max-width: 180px;
				border: 3px solid white;
    			border-radius: 90px;
    			box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.48);
			}

			@media screen and (max-width: 767px) {
	            position: relative;
			    top: 0;
			    margin: auto;

			    img {
			    	display: block;
			    	margin: auto;
			    }
		    }

		}

		.photo + .row {
			margin-left: 185px;

			@media screen and (max-width: 767px) {
				margin: auto;
				text-align: center;
		    }
		}

		.col-sm-7 + .col-sm-5 {
			padding: 0 36px;
			margin-top: 15px;
			color: #333;
		}
	}

	.content {

		.container {
			position: relative;
		}

		@media screen and (min-width: 768px) {
			p {
				padding-right: 20px;
			}
	    }
	}

	.sharing-buttons {
		margin-bottom: 30px;
	}

	.last-contributions {

		h3 {
			margin-bottom: 35px;
		}
	}

	.contributions {
		.row > h3 {
			margin: 0 auto 35px;
			text-align: center;
			color: #333;
		}
	}

	.thumbnail {
		margin-bottom: 20px;

		h3 {
			margin: 0;
			font-size: 16px;
			line-height: 22px;
		}
		
		.image {
			max-height: 150px;
			overflow-y: hidden;
		}

		.caption {
			padding: 10px 15px 5px;

			&.tags {
				padding-top: 5px;
				padding-bottom: 15px;
			}

			&.post-type {
				float: right;

				> .label-primary {
					border: 1px solid #57025B;
				    color: #57025B;
				    text-transform: uppercase;
				}
			}
		}

	}

}