.page-template-page-donation {

	#donation-form {
		max-width: 500px;
    	margin: 40px auto;
	}
	
	.give-form-title {
		text-align: center;
    	font-size: 26px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
	    font-weight: 400;
	    line-height: 1.6;
	}

	form.give-form {
		background: #F9F9F9;
    	box-shadow: 0 1px 1px rgba(0,0,0,.125);
    	padding: 25px 30px;
	}
}

.page-template-page-donation-confirmation {
	.content {
		text-align: center;

		a {
			display: inline-block;
			margin: 20px 0 10px;
		}
	}
}
