.home {

	#about-mobile,
	#news-mobile {
		margin-bottom: 35px;

		.main-title--page {
			margin-bottom: 40px;
		}

		.read-more-link {
			text-align: center;
		}
	}

	#about-mobile,
	#news-mobile {
		@media screen and (min-width: 768px) {
	        display: none;
	    }
	}

	#contributors {
	    margin: 25px auto 10px;

	    .main-title--page {
			margin-bottom: 40px;
		}

		.thumbnail-square {
			.caption h3 {
			    line-height: 18px;
			}
		}
	}
}

#homepage-banner {
	max-height: 200px;
}

#homepage-slider {
    position: relative;

	.flex-caption {
	    background: rgba(255,255,255,0.55);
		opacity: 1;
    	left: 90px;
    	top: 35%;
    	right: auto;
    	bottom: auto;
    	max-width: 550px;
    	padding: 15px 20px;
    	text-align: left;

    	.post-type {
		    color: #57025B;
	        padding: 7px 0 2px;
		    text-transform: uppercase;
		    font-size: 14px;
    	}

    	.title {
    		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		    font-size: 28px;
		    color: #333333;
	        padding: 0 0 5px;
		    margin-top: 4px;
		    margin-bottom: 0;
	        line-height: 33px;
    	}

    	.date {
    		margin-top: 10px;
    		color: #154758;
	        padding: 0;
    		font-size: 16px;

    		+ h2 {
    			margin-top: 0;
    		}
    	}

    	.contributors {
    		margin-top: 3px;
    		margin-bottom: 0;
    		font-size: 16px;
		    color: #154758;
		    padding: 0;
    	}

    	+ .read-more-link {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	        color: transparent;
    	}
	}

	.slides > li {
		position: relative;
	    height: 450px;
	    min-height: 450px;
		overflow: hidden;
	    background: #181818;

		&:hover .flex-caption {
			background: rgba(255,255,255,0.7);
			transition: all 0.5s;
		}
	}

	img {
    	height: auto;
    	margin: auto;
    	display: block;
    	position: absolute;
	    left: 50%;
	    right: 0;
	    top: 50%;
	    transform: translate(-50%, -50%);

	    @media screen and (min-width: 1200px) {
	        width: 100%;
	    }
	}

	.flex-control-nav {
		bottom: 0;
	}

	.flex-direction-nav {
	    display: none;
	}
}

#homepage-tiles {
    margin: 25px auto 10px;
    width: 85%;
   	max-width: 1330px;

    .main-title {
    	margin-bottom: 35px;
    }

    .thumbnail--small {
	    margin: 16px auto;

	    .image > img {
	    	max-width: 100%;
	    }
    }

    .thumbnail--small-wrapper {
	   	padding-left: 16px;
		padding-right: 16px;
    }

    .all-posts-link {
		text-align: center;
		margin: 20px auto 20px;
		padding: 0;
	}

	#main-post {
		padding-left: 30px;
		padding-right: 30px;

		.all-posts-link {
			margin: 26px auto 20px;
		}

		.description {
		    max-height: 170px;
    		overflow-y: hidden;
		}
	}

	#about {
		margin: 16px 0;

		.caption {
			padding: 12px 18px;
		    line-height: 20px;
		    font-size: 13px;

		    > p {
		    	max-height: 120px;
		    	height: 120px;
		    	overflow-y: hidden;
		    	text-overflow: ellipsis;
		    }
		}

		h3 {
		    font-size: 18px;
    		margin: 0 0 8px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
	}

	#map-link {
	    margin: 5px 0;
		display: block;
		height: 164px;
		background: url('img/homepage-map.png') center no-repeat;
		background-size: cover;
		opacity: 1;

		.main-title {
			margin: 0 auto;
			line-height: 164px;
			opacity: 1;
			transition: all 0.5s;
			background: rgba(0,0,0,0.25);

			h2 {
			    color: #ffffff;
			    border-top: 0;
			    border-bottom: 0;
			    text-shadow: 0px 3px 10px #000000;
			    font-size: 30px;
			    line-height: 36px;
		        vertical-align: middle;
			}
		}

		&:hover .main-title {
		    background: rgba(0,0,0,0.10);
		}
	}

	@media screen and (min-width: 992px) {
    	.col-sm-12 {
		    width: 100%;
		}

        .row {
	    	margin-top: -10px;
	    }

	    .thumbnail {
	    	margin: 16px 0;
	    }

	    #main-post {
			padding-left: 30px;
			padding-right: 30px;
		}
    }

 	@media screen and (min-width: 1100px) {
 		.col-md-6 {
		    width: 50%;
		}

		.thumbnail {
	    	margin: 6px 0;
	    }

	    .thumbnail--small .image > img {
	    	max-width: 350px;
	    }

		#main-post {
			padding-right: 3px;
		}

		#secondary-posts {
			padding-left: 3px;

			.col-md-4,
			.col-md-6,
			.col-md-8,
			.col-md-12 {
				padding-left: 6px;
	    		padding-right: 6px;
			}
		}

		#about {
			margin: 6px 0;
		}
 	}
}

#homepage-super-contributors-slider {
	margin: 16px 0;

	.thumbnail-square {
		margin: 0;

		h3 {
			line-height: 18px;
		}

		.caption {
		    padding: 10px 5px;
		}

		.image {
			max-height: 170px;
			height: 170px;
			overflow: hidden;
			background: #F1F1F1;

			> img {
				position: absolute;
				top: 50%;
    			left: 50%;
    			transform: translate(-50%,-50%);
			}
		}
			
	}

	.flex-direction-nav,
	.flex-control-nav {
		display: none;
	}

	@media screen and (min-width: 1100px) {
		margin: 6px 0;

		.thumbnail-square {
			.image {
				max-height: 170px;
				height: 170px;
			}
		}
	}
}

#homepage-contributors-carousel {
	position: relative;

	.thumbnail-square {
		margin: 0;

		.caption {
			padding: 10px;
		}
	}

	.flex-control-nav {
		position: relative;
		bottom: 0;
	    margin: 15px 0;
	}

	.flex-direction-nav {
		display: none;

		a {
	    	opacity: 0.4;
	    	top: 40%;
		    width: 36px;
		    height: 36px;
		    
	    	&.flex-next {
	    		right: -50px;
	    		background-image: url('img/arrow-right--medium.png');
	    	}

	    	&.flex-prev {
	    		left: -50px;
	    		background-image: url('img/arrow-left--medium.png');
	    	}
	    }
	}
}