.page-template-page-news {

	.date {
	    text-transform: capitalize;
    	margin: 10px 0 0;
    	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    	font-size: 14px;
	    text-transform: uppercase;
    	color: #57025B;
	}

	.categories {
		margin: 0 0 30px;
	}

	.thumbnail {
		.image {
			background-color: #f1f1f1;
		}

		h3 {
			font-weight: bold;
		}

		p {
			margin-top: 10px;
		}
	}
}

.single-post {
	.main-title {
		margin-top: 55px;

		.date {
			margin: 15px auto;
			font-weight: bold;
			font-size: 14px;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	#article {
		background: white;
		margin-bottom: 20px;
		padding-top: 20px;
	}

	#sharing {
	    padding-bottom: 20px;
	}

    .contributors {
        margin-top: 10px;

        .row {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

       .row > div {
    		padding: 25px 45px;
    		box-sizing: border-box;
    	}

    	h3 {
    		font-size: 20px;
    		margin-top: 0;
    	}

    	p {
    		margin: 10px 0;
    		line-height: 24px;
            font-size: 14px;
    	}

    	img {
    		float: left;
    		margin: 0 15px 0 0;
    	}
    }
}