// http://callmenick.com/post/slide-and-push-menus-with-css3-transitions
// http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/

$panel-background: 				#F9F9F9;
$panel-vertical-left-width:		550px;
$panel-vertical-right-width:	300px;
$panel-horizontal-height:   	200px;