#contact-form {
	max-width: 500px;
    margin: 0 auto 40px;

    .form-title {
    	text-align: center;
    	font-size: 26px;
	    padding: 0 0 20px;
    }

    .ccf-form-complete {
	    font-size: 20px;
	    text-align: center;
	    margin: 100px auto 0;
    }
}