/* Variables */

$text-color: black;
$base-font-size: 14px;
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-weight: 400;

$title-font-family: "Arvo", "Open Sans", Helvetica, Arial, sans-serif;